<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reminder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Settings" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider702061733267340"
            android:exported="true" />

        <activity android:name=".social_activities.MyFacebookActivity" />
        <activity android:name=".mobile_activities.SmsActivity" />
        <activity android:name=".social_activities.MyTwitterActivity" />
        <activity android:name=".social_activities.GooglePlusActivity" />
        <activity android:name=".mobile_activities.CallActivity" />
        <activity android:name=".social_activities.MailActivity" />
        <activity android:name=".social_activities.social_service.Sender" />
        <activity android:name=".social_activities.social_service.FacebookSharer" />
        <activity android:name=".other_activities.SimpleReminderActivity" />

        <receiver android:name=".social_activities.social_service.FacebookReceiver" />

        <activity android:name=".other_activities.AllSimpleRemindersActivity" />
        <activity android:name=".mobile_activities.AllCallRemindersActivity" />

        <service android:name=".social_activities.social_service.FacebookService" />

        <receiver android:name=".mobile_activities.services.CallReceiver" />

        <service android:name=".mobile_activities.services.CallService" />
        <service android:name=".social_activities.social_service.MailService" />

        <receiver android:name=".social_activities.social_service.MailReceiver" />
        <receiver android:name=".mobile_activities.services.SMSReceiver" />

        <service android:name=".mobile_activities.services.SMSService" />

        <activity android:name=".mobile_activities.services.NotifyActivityHandler" />
    </application>

</manifest>
